<section>
    <div class="container-fluid h-100">
        <div class="h-100 row">
            <div class="col-12 m-auto">

                <div class="taglines text-center col-11 mx-auto mb-4">
                    <h1 class="mb-3">TITLE</h1>
                    <h2>TITLE 2</h2>
                </div>

                <div class="mb-bar row col-lg-8 col-md-6 col-sm-12 mx-auto py-3 px-2 rounded">
                    <div class="col-lg col-md-12 my-auto p-0 text-center">
                        <button class="btn btn-primary" type="button" (click)="submit()">CLICK !</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
